
<div class="row lage-spot-list">
    <div class="col-6">
<div class="card">
  <div class="card-body">

      <span>Space the final Frontier</span>
      <span>Join Now</span>
    <a href="/SignUp" class="btn btn-primary cta">sign up</a>
  </div>
</div>

    </div>
    <div class="col-6">
        <div class="card">
  <div class="card-body">
<blockquote></blockquote>
  <blockquote >
    <p>"It is our destiny to become an interplanetary species. In fact, it is our obligation, to ensure the survial of our mankind."</p>
    <footer>Peter Wayland, CEO</footer>
</blockquote>
  
  </div>
</div>

    </div>
</div>