@page

@{
    ViewData["Title"] = "Sign Up";
}

@model SignUpModel

<p class="display-4 text-center">Making Humanity Interstellar</p>

<p class="display-3 text-center">Join Now!</p>

<div class="container p-3">
    
    <form method="POST">


      <div class="form-group">
        <div class="col">
          <input type="text" name="firstName" class="form-control" required placeholder="First name">
        </div>
        <div class="col">
          <input type="text" name="lastName" class="form-control" required placeholder="Last name">
        </div>
        <div class="col">
          <input type="text" name="socialSecurityNumber" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{4}" required class="form-control" placeholder="DD-MM-YY-XXXX">
        </div>
        <div>
        <input type="email"  name="email" class="form-control" id="exampleFormControlInput1" required placeholder="name@example.com">
        </div>
      </div>
      
        <fieldset>
    
        <legend>Terms and conditions</legend> 

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit quos veritatis quis rem illo aliquid consequuntur hic expedita corrupti voluptas rerum modi, eligendi dolorum, dolor, consequatur voluptatum quidem reiciendis ad?

        <div class="form-check">
      <input class="form-check-input" type="checkbox" required value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        I have read and accepted the terms and conditions
      </label>
      </div>
        </fieldset>
        <button class="p-3 btn btn-primary">Sign Up</button>
    
    </form>
    
</div>
